.password-validation {
    margin-top: 10px;
  }
  
  .password-validation ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .password-validation li {
    font-size: 12px;
    color: gray;
    margin-bottom: 5px;
  }
  
  .password-validation li.invalid {
    color: red;
  }
  
  .password-validation li.valid {
    color: green;
  }
  